.menuTop {
  line-height: 36px;
  margin-right: 12px;
}

#defaultButton {
  display: inline-block;
  border: 0;
  border-radius: 0;
  letter-spacing: 3px;
  padding: 10px 30px;
  line-height: 25px;
  font-family: HelveticaLTStd;
  font-weight: 700;
  max-height: 40px;
  background-image: none;
}
